:host {
    width: 100%;
}
.menu {
    padding: 8px;
    color: var(--text-muted);
    border-bottom: 4px solid var(--text-muted);
    cursor: pointer;
    width: 10rem;
}
.menu.active {
    color: var(--accent);
    border-bottom: 4px solid var(--accent);
}
