<td>{{asset.assetTag}}</td>
<td>{{`${asset.name}${asset.isArchived ? ' (Archived)' : ''}`}}</td>
<td class="capitalize">{{asset.category}}</td>
<td>
    <app-dropdown
        #statusDropdown
        [initialSelection]="asset.status"
        [list]="availableStatuses"
        (dropdownChanged)="handleStatusChange($event)"
    />
    @if (showStatusSuccess()) {
        <span class="text-success">Succesfully Updated Status</span>
    }

</td>
<td>{{asset.userFirstName && asset.userLastName ? `${asset.userFirstName} ${asset.userLastName}` : "-"}}</td>
<td>
    <app-dropdown
        [initialSelection]="asset.condition"
        [list]="assetFields.conditions"
        (dropdownChanged)="handleConditionChange($event)"
    />
    @if (showConditionSuccess()) {
        <span class="text-success">Succesfully Updated Condition</span>
    }
</td>
