<form
    class="flex flex-col w-full h-full justify-center items-center p-7 relative"
    #userForm="ngForm"
    (ngSubmit)="submit(userForm)"
>
    <div class="flex flex-col gap-8 w-full h-full">
        <h2 class="text-2xl font-bold inline">Create New Request</h2>
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-2">
                <span>Type</span>
                <span class="text-text-secondary">Checkout</span>
            </div>
            <div class="flex flex-col gap-2">
                <span>Category *</span>
                <app-dropdown
                    [initialSelection]="category()"
                    [list]="assetCategoryList"
                    (dropdownChanged)="handleCategoryChange($event)"
                />
            </div>
            <div class="flex flex-col gap-2">
                <span>Reason *</span>
                <textarea
                    required
                    class="bg-bg-primary min-h-30 max-h-60 p-2 outline-none focus-within:border-2 focus-within:border-accent"
                    [(ngModel)]="reason"
                    placeholder="What's the reason for your request?"
                    name="reason"
                ></textarea>
            </div>
        </div>
    </div>

    <div class="self-start flex gap-2">
        <app-submit-button
            class="mt-auto w-30"
            [text]="'Request'"
            [loading]="this.loading()"
            [disabled]="!reason || !category()"
        />
        <button class="btn btn-cancel w-30" (click)="drawer.close()">
            Cancel
        </button>
    </div>
</form>
