<form
    class="flex flex-col gap-5 h-full"
    #userForm="ngForm"
    (ngSubmit)="submit(userForm)"
>
    <div class="flex flex-col gap-2">
        <p class="text-text-secondary">Asset ID</p>
        <span class="uppercase">{{assetDetails!.id}}</span>
    </div>

    <div class="flex flex-col gap-2">
        <p class="text-text-secondary">Asset Name</p>
        @if (authService.isManager) {
            <input name="assetName" class="drawer-input" [(ngModel)]="assetName" />
        } @else {
            <span>{{assetDetails!.name}}</span>
        }
    </div>

    <div class="flex flex-col gap-2">
        <p class="text-text-secondary">Asset Tag</p>
        @if (authService.isManager) {
            <input name="assetTag" class="drawer-input" [(ngModel)]="assetTag" />
        } @else {
            <span>{{assetDetails.assetTag}}</span>
        }
    </div>

    <div class="flex flex-col gap-2">
        <p class="text-text-secondary">Serial Number</p>
        @if (authService.isManager) {
            <input name="serialNumber" class="drawer-input" [(ngModel)]="serialNumber" />
        } @else {
            @if (!assetDetails.serialNumber) {
                <span>No Serial Number</span>
            } @else {
                <span>{{assetDetails!.serialNumber}}</span>
            }
        }
    </div>

    <div class="flex flex-col gap-2">
        <p class="text-text-secondary">Category</p>
        <span class="capitalize">{{assetDetails!.category}}</span>
    </div>

    <div class="flex flex-col gap-2">
        <p class="text-text-secondary">Assigned To</p>
        @if (!assetDetails.userId) {
            <span>Not Assigned</span>
        } @else {
            <span>{{`${assetDetails!.userFirstName} ${assetDetails!.userLastName}`}}</span>
        }
    </div>

    <div class="flex flex-col gap-2">
        <p class="text-text-secondary">Status</p>
        <span class="capitalize">{{assetDetails!.status}}</span>
    </div>

    <div class="flex flex-col gap-2">
        <p class="text-text-secondary">Condition</p>
        <span class="capitalize">{{assetDetails!.condition}}</span>
    </div>

    @if (assetDetails.updatedAt) {
        <div class="flex flex-col gap-2">
            <p class="text-text-secondary">Last Updated</p>
            <span>{{assetDetails.updatedAt | date:'M/d/yy, h:mm a'}}</span>
        </div>
    }

    <div class="flex flex-col gap-2">
        <p class="text-text-secondary">Created Date</p>
        <span>{{assetDetails.createdAt | date:'M/d/yy, h:mm a'}}</span>
    </div>

    @if (authService.isManager) {
        <div class="bg-bg-elevated absolute w-full bottom-0 left-0 flex gap-2 p-5">
            <app-submit-button
                class="w-30"
                [text]="'Save'"
                [disabled]="assetDetails.isArchived"
                [loading]="loadingUpdate()"
            />
            <button class="btn btn-cancel w-30" (click)="drawer.close()">Cancel</button>
            @if (authService.isAdmin) {
                <app-submit-button
                    [type]="'button'"
                    (click)="handleArchive()"
                    [color]="'danger'"
                    class="w-30"
                    [text]="'Archive'"
                    [loading]="loadingArchive()"
                    [disabled]="assetDetails.isArchived"
                />
            }
        </div>
    }
</form>
