<div class="px-5 py-2 bg-bg-elevated h-15 w-full">
    <div class="flex items-center gap-5">
        <span>
            Showing {{showingFrom}} to {{showingTo}} of {{pagination.totalCount}} {{name}}
        </span>

        <div class="flex items-center gap-2">
            <button class="p-3 select-none hover:not-disabled:bg-surface-hover cursor-pointer"
                    (click)="handlePreviousPage()"
                    [disabled]="this.pageNumber <= 1"
            >
                <ng-icon size="12" name="heroChevronLeft"></ng-icon>
            </button>
            <span>{{pageNumber}}</span>
            <button class="p-3 select-none hover:not-disabled:bg-surface-hover cursor-pointer"
                    (click)="handleNextPage()"
                    [disabled]="this.pageNumber >= this.pagination.totalPages"
            >
                <ng-icon size="12" name="heroChevronRight"></ng-icon>
            </button>
        </div>

        <select
            [(ngModel)]="pageSize"
            (ngModelChange)="emitPaginationChanged(true)"
            class="bg-bg-secondary p-1 rounded cursor-pointer"
        >
            <option [value]="25">25</option>
            <option [value]="50">50</option>
            <option [value]="100">100</option>
            <option [value]="500">500</option>
        </select>
    </div>
</div>
