:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-height: 0;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow: hidden;
}

.table-content {
    flex: 1 1 0;
    overflow-y: auto;
}
