<td><span [classList]="request.requestType + ' chip'">{{ request.requestType }}</span></td>
<td><span [classList]="request.status + ' chip'">{{request.status + (request.isArchived ? ' (Archived)' : '')}}</span></td>
<td>{{request.assignedAssetName && request.assignedAssetTag ? `${request.assignedAssetName} \\ ${request.assignedAssetTag}` : "-"}}</td>
<td>{{request.assetCategory}}</td>
<td>{{request.requestedByUser.firstName + " " + request.requestedByUser.lastName}}</td>
<td>{{request.createdAt | date:'M/d/yy, h:mm a'}}</td>
