.nav-item {
    cursor: pointer;
    text-align: center;
    background-color: var(--color-sidebar);
    padding-block: .75rem;
    padding-inline: 1.25rem;
    display: flex;
    gap: .75rem;
    align-items: center;
    border-radius: .5rem;
    margin: .75rem;
}

.nav-item:hover {
    background-color: var(--color-surface-hover);
}

a {
    display: block
}

a.active > .nav-item {
    background-color: var(--color-surface-active);
}
