<div class="w-50 bg-sidebar h-full py-5">
    <a routerLink="/dashboard" routerLinkActive="active">
        <nav class="nav-item">Dashboard</nav>
    </a>
    <a routerLink="/requests" routerLinkActive="active">
        <nav class="nav-item">Requests</nav>
    </a>
    <a routerLink="/inventory" routerLinkActive="active">
        <nav class="nav-item">Inventory</nav>
    </a>
    <a routerLink="/review" routerLinkActive="active">
        <nav class="nav-item">Review</nav>
    </a>
    <a routerLink="/users" routerLinkActive="active">
        <nav class="nav-item">Users</nav>
    </a>
</div>
