:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-height: 0;
}

.assets-table-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow: hidden;
}

.assets-table-content {
    flex: 1 1 0;
    overflow-y: auto;
}

tr:hover {
    background-color: var(--surface-hover);
}
