<td>{{ user.emailAddress }}</td>
<td>{{ user.firstName }} {{ user.lastName }}</td>
<td>
    <app-dropdown
        [initialSelection]="user.role"
        [list]="roles"
        (dropdownChanged)="handleRoleChange($event)"
    />
    @if (showRoleSuccess()) {
        <span class="text-success">Succesfully Updated Role</span>
    }
</td>
<td>
    <div class="flex gap-2 items-center w-full">
        <input
            class="checkbox"
            type="checkbox"
            [checked]="user.isActive"
            (change)="toggleActive($event)"
        />
        <span>{{ user.isActive ? 'Active' : 'Inactive' }}</span>
    </div>
    @if (showActiveSuccess()) {
        <span class="text-success">Succesfully Updated Status</span>
    }
</td>
<td> {{ user.lastLoginAt ? (user.lastLoginAt | date:'M/d/yy, h:mm a') : "-" }}</td>
<td>{{ user.createdAt | date:'M/d/yy, h:mm a' }}</td>
