.dropdown {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5rem 1rem;

  background: var(--color-bg-secondary);
  color: var(--color-text);

  border: 2px solid var(--border);
  border-radius: .5rem;

  cursor: pointer;
  transition: border-color  .15s;
}

.dropdown:hover {
    border: 2px solid var(--accent);
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + .25rem);
  left: 0;
  right: 0;

  background: var(--color-bg-secondary);
  border-bottom-left-radius: .75rem;
  border-bottom-right-radius: .75rem;
  overflow: hidden;

  box-shadow: var(--shadow-md);

  z-index: 300;
  max-height: 16rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-menu-up {
  top: auto;
  bottom: calc(100% + .25rem);

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
}

.dropdown-option {
  padding: .5rem 1rem;
  cursor: pointer;
  transition: background .15s;
}

.dropdown-option:hover {
  background: var(--accent);
}

.dropdown-option.selected {
  background: var(--accent);
}
